DATABASE_URL=sqlite:////opt/szup/backend-py/data/szup.db
JWT_SECRET=ZMIEN_NA_LOSOWY_CIAG_MIN_64_ZNAKI
JWT_REFRESH_SECRET=ZMIEN_NA_INNY_LOSOWY_CIAG_MIN_64_ZNAKI
LDAP_ENCRYPTION_KEY=
PDF_STORAGE_PATH=/opt/szup-pdf
LOG_PATH=/opt/szup-logs
PORT=40273
ALLOWED_ORIGIN=http://szup.intranet.wods.pl
NODE_ENV=production
SCHEDULER_ENABLED=true
INIT_SUPERADMIN_USERNAME=admin
INIT_SUPERADMIN_PASSWORD=ZMIEN_HASLO_PRZED_URUCHOMIENIEM
